@font-face {
    font-family: 'Satoshi-Variable';
    src: url('@/assets/fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-VariableItalic';
    src: url('@/assets/fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Light';
    src: url('@/assets/fonts/Satoshi-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-LightItalic';
    src: url('@/assets/fonts/Satoshi-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Regular';
    src: url('@/assets/fonts/Satoshi-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Italic';
    src: url('@/assets/fonts/Satoshi-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('@/assets/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-MediumItalic';
    src: url('@/assets/fonts/Satoshi-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('@/assets/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-BoldItalic';
    src: url('@/assets/fonts/Satoshi-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Satoshi-Black';
    src: url('@/assets/fonts/Satoshi-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-BlackItalic';
    src: url('@/assets/fonts/Satoshi-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}